absl-py==0.1.10
appnope==0.1.0
bleach==1.5.0
certifi==2018.1.18
cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
entrypoints==0.2.3
enum34==1.1.6
html5lib==0.9999999
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
mujoco-py==0.5.7
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
numpy==1.14.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.3.0
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.5.2
pybind11==2.2.1
Pygments==2.2.0
PyOpenGL==3.1.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-mnist==0.6
pytz==2017.3
PyWavelets==1.0.1
pyzmq==16.0.3
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.0.0
Send2Trash==1.4.2
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-tensorboard==0.4.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
torch==0.4.1
torchvision==0.2.1
tornado==4.5.3
tqdm==4.28.1
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
